.navbar-brand img {
  width: 6rem;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.navbar-icons .bi-plus-lg {
  font-size: 1.6rem;
}

.navbar-icons .bi-suit-heart {
  font-size: 1.5rem;
}

.story-row {
  display: flex;
  gap: 1.2rem;
  overflow: auto;
  scrollbar-width: none;
  margin-bottom: 0.4rem;
}

.story-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.story-circle,
.post-circle {
  position: relative;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
}

.story-circle {
  width: 84px;
  height: 84px;
}

.story-circle.other-user,
.post-circle.with-story {
  background: #b45b3a;
  background: linear-gradient(
    90deg,
    rgba(180, 91, 58, 1) 0%,
    rgba(253, 145, 29, 1) 50%,
    rgba(231, 69, 252, 1) 100%
  );
}

.story-circle-whitespace,
.post-circle-whitespace {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.story-circle-whitespace {
  width: 78px;
  height: 78px;
}

.story-icon,
.post-user-icon {
  position: absolute;
  width: 92%;
  height: 92%;
  object-fit: contain;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.story-add-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  top: 52%;
  left: 73%;
}

.story-add-icon * {
  color: white;
}

.story-username {
  font-size: 0.7rem;
  font-weight: 630;
  text-align: center;
  color: gray;
}

.story-username.other-user {
  color: black;
}

.post-header {
  padding: 0.6rem;
}

.post-user-info {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.post-circle {
  width: 32px;
  height: 32px;
}

.post-circle-whitespace {
  width: 28px;
  height: 28px;
}

.post-username {
  font-size: 0.8rem;
  font-weight: 640;
}

.post-action-row {
  padding: 0.4rem;
}

.post-action-row .bi {
  font-size: 1.5rem;
}

.post-description {
  font-size: 0.8rem;
}

.description-text {
  max-height: 2lh;
  overflow: hidden;
}

.description-text:has(~ .expand-text-checkbox:checked) {
  max-height: none;
}

.expand-text-checkbox {
  display: none;
}

.expand-text-checkbox:checked ~ .expand-text {
  display: none;
}

