.story-row {
  overflow: auto;
  scrollbar-width: none;
}

.story {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
}

.icon-story {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
